body{
  background-color: blue;
  overflow: hidden;
}

#navebar{
  float: left;
  width: 100%;
  position: relative;
} 
#table2{				 
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#table2 li{
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

#table2 li a{
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}
#table2 li a:hover{							
  background-color: #000;
}
#on{		 
  text-decoration: underline overline;
}

#sidebar{
  position: fixed;
  right:0%;
  background-color: red;
  height: 100%;
  width: 20%;
} 
#table1{			 
  list-style-type: none;
  text-align: center;
  padding: 0;
}

#table1 li a{
  display: block;
  padding: 15px 0;
  color: #fff;
  text-decoration: none;
}

#table li a:hover{
  background-color: #000;
}


